$backgroundColor: #000000;
$mainTextColor: #fff;
$secondaryTextColor: rgb(255, 255, 255);
$linkTextColor: #ff7300;
$effectImageColor: #ff7300;
$buttonTextColor: #ff7300;

$breakMobile: "(max-width: 767px)";
$breakTablet: "(min-width: 768px) and (max-width: 1023px)";